---
layout: 'default-md'
title: 'How It works'
---

<div class="row">
    <div class="col-sm-4">
        <h3>Enter the Phone Number</h3>
        <p>Enter the international mobile number you’d like to recharge.</p>
    </div>
    <div class="col-sm-4">
        <h3>Confirm the Mobile Carrier</h3>
        <p>Confirm your loved one's phone carrier is correct or update to the appropriate carrier.</p>
    </div>
    <div class="col-sm-4">
        <h3>Choose an Amount</h3>
        <p>Choose the amount that you’d like to send to this phone number.</p>
    </div>
</div>